.form-signin {
  background: white;
  padding: 1rem;
  width: 100%;
  .v-app-bar & {
    position: absolute;
    bottom: 0;
    right: 1rem;
    transform: translateY(100%);
    max-width: 320px;
    box-shadow: 0 1px 5px rgb(0 8 15 / 20%);
  }
}
