$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 600px,
  // Medium screen / tablet
  md: 960px,
  // Large screen / desktop
  lg: 1264px,
  // Extra large screen / wide desktop
  xl: 1904px
);

:root {
  --lone-hero-padding: 0;
  --dark: #2f3133;
  --primary-blue: #008ffe;
  --secondary-blue: #005aa9;
  --link-color: var(--primary-blue);
  --mailchimp-control-min-height: 38px;
  --descriptive: #a4acb3;
  --navbarIndicatorXPos: 0px;
  --navbarIndicatorWidth: 0px;
  --navbarIndicatorOpacity: 0;
  --h2-black: var(--dark);
  --orange: #ee6445;
  --oval-blue: rgb(0, 143, 254, 0.05);
  --h3-black: #3b4650;
}
