$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 600px,
  // Medium screen / tablet
  md: 960px,
  // Large screen / desktop
  lg: 1264px,
  // Extra large screen / wide desktop
  xl: 1904px
);

:root {
  --lone-hero-padding: 0;
}
