.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  &-static {
    position: static;
  }

  &-sticky {
    position: sticky;
  }
}

.text {
  &-vertical {
    &-center {
      * {
        vertical-align: middle;
      }
    }
  }
}

.mt {
  @for $i from 17 through 25 {
    &-#{$i} {
      margin-top: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          margin-top: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          margin-top: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          margin-top: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          margin-top: $i * 4px !important;
        }
      }
    }
  }
}

.mr {
  @for $i from 17 through 25 {
    &-#{$i} {
      margin-right: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          margin-right: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          margin-right: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          margin-right: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          margin-right: $i * 4px !important;
        }
      }
    }
  }
}

.mb {
  @for $i from 17 through 25 {
    &-#{$i} {
      margin-bottom: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          margin-bottom: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          margin-bottom: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          margin-bottom: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          margin-bottom: $i * 4px !important;
        }
      }
    }
  }
}

.ml {
  @for $i from 17 through 25 {
    &-#{$i} {
      margin-left: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          margin-left: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          margin-left: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          margin-left: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          margin-left: $i * 4px !important;
        }
      }
    }
  }
}

.pt {
  @for $i from 17 through 25 {
    &-#{$i} {
      padding-top: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          padding-top: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          padding-top: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          padding-top: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          padding-top: $i * 4px !important;
        }
      }
    }
  }
}

.pr {
  @for $i from 17 through 25 {
    &-#{$i} {
      padding-right: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          padding-right: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          padding-right: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          padding-right: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          padding-right: $i * 4px !important;
        }
      }
    }
  }
}

.pb {
  @for $i from 17 through 25 {
    &-#{$i} {
      padding-bottom: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          padding-bottom: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          padding-bottom: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          padding-bottom: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          padding-bottom: $i * 4px !important;
        }
      }
    }
  }
}

.pl {
  @for $i from 17 through 25 {
    &-#{$i} {
      padding-left: $i * 4px !important;
    }

    &-sm {
      &-#{$i} {
        @include media-breakpoint-up(sm) {
          padding-left: $i * 4px !important;
        }
      }
    }

    &-md {
      &-#{$i} {
        @include media-breakpoint-up(md) {
          padding-left: $i * 4px !important;
        }
      }
    }

    &-lg {
      &-#{$i} {
        @include media-breakpoint-up(lg) {
          padding-left: $i * 4px !important;
        }
      }
    }

    &-xl {
      &-#{$i} {
        @include media-breakpoint-up(xl) {
          padding-left: $i * 4px !important;
        }
      }
    }
  }
}
