fieldset {
  &:not(.v-text-field--outlined fieldset) {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.container {
  width: 100%;
  max-width: 1224px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

a {
  transition: all ease-out 0.3s;
  text-decoration: none;

  &:hover,
  &:focus {
    &:not(.primary) {
      color: var(--orange);
    }
  }
}

.help {
  font-size: 14px !important;
}

.v-main {
  transition: all ease-out 0.3s;
  @include media-breakpoint-up(sm) {
    padding-top: 84px !important;
  }

  &__wrap {
    padding-bottom: 80px;
    @include media-breakpoint-up(md) {
      padding-bottom: 112px;
    }
  }
}

.v-app-bar.v-app-bar--is-scrolled + .v-main {
  @include media-breakpoint-up(sm) {
    padding-top: 72px !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}
