fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1224px;
}

a {
  transition: all ease-out 0.3s;
}

.help {
  font-size: 14px !important;
}

.v-main {
  transition: all ease-out 0.3s;
  @include media-breakpoint-up(sm) {
    padding-top: 84px !important;
  }
}

.v-app-bar.v-app-bar--is-scrolled + .v-main {
  @include media-breakpoint-up(sm) {
    padding-top: 72px !important;
  }
}
